<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contigo2.cmsc355.breadboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacherLogin"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".studentLogin"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".newStudentAccount"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".newTeacherAccount"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".createNewQuiz" />
        <activity android:name=".TeacherHome" />
        <activity android:name=".addQuestions" />
        <activity android:name=".quizConfirmation" />
        <activity android:name=".settingsPage" />
        <activity android:name=".changeEmail" />
        <activity android:name=".changePassword" />
        <activity android:name=".changeFontSize" />
        <activity android:name=".QuizInformation" />
        <activity android:name=".modifyQuiz" />
        <activity android:name=".modifyQuestions" />
        <activity android:name=".questionStatistics" />
        <activity android:name=".quizStatistics" />
        <activity android:name=".quizConfirmationNumbers" />
        <activity android:name=".quizComplete" />
        <activity android:name=".submitQuiz" />
        <activity android:name=".studentGrades" />
        <activity android:name=".preQuizInfo"/>
        <activity android:name=".postQuizInfo"/>
        <activity android:name=".warningPage" />
        <activity android:name=".exampleQuiz" />
        <activity android:name=".quizFinalReview" />
        <activity android:name=".AnswerKey"/>
    </application>

</manifest>